player-connection-mode=Listen
player-connection-guid=1030365305
player-connection-debug=0
player-connection-project-name=ManPac2_(0.5.9.4.5)
player-connection-ip=192.168.1.48
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d8cf6d35df7844358b997cc1a3e1f604
